
/* FONTS */

$Graphik: 'Graphik';

/* COLOR */

$white: #fff;
$black: #000;
$dark-blue: #1A1D3E;
$light-blue: #007AFF;
$grey: #7589A5;


/* TRANSITION */
$delay: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
$ease: 0.3s ease;
